# time / branding
TZ=Europe/Brussels
SITE_NAME=Aleph Cloud Status
SITE_DESCRIPTION=Live status of Aleph Cloud frontends, APIs, and nodes.

# bootstrap admin (change these!)
ADMIN_USER=admin
ADMIN_PASSWORD=admin
ADMIN_EMAIL=admin@admin.com

ALEPH_SCHEDULER_API_URL=
ALEPH_BATCHER_ADDRESS="0x23eC28598DCeB2f7082Cc3a9D670592DfEd6e0dC"
ETHEREUM_RPC_URL="https://mainnet.infura.io/v3/<api-key>"
